

<div class="container">
    <h1>Todo App</h1>
    <hr>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Enter Task</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-danger">Required Field</small>
        </div>
        
        <button id="submitbtn"  type="submit" class="btn btn-primary">Submit</button>
      </form>

      <hr>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Larry</td>
            <td> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
            <td><button class="btn-danger">Delete</button></td>
            </tr>
        </tbody>
      </table>

</div>
